system-api/src/main/mule/system-hr.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="cfg_http_hr" doc:name="HTTP Listener config" doc:id="679bcaeb-b543-4d45-b8aa-d1ad6e73586b" basePath="/system-hr" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bc647e5e-8c4e-4a97-bfe8-997f61247dce" >
		<db:oracle-connection host="localhost" user="HR" password="1234" serviceName="ORCLPDB"/>
	</db:config>
	<flow name="system-hr-insert" doc:id="f0fd5f97-8e30-4218-9636-d786cc177525" >
		<http:listener doc:name="Listener" doc:id="91743bf6-c3de-415c-9da6-f32243e993c7" config-ref="cfg_http_hr" path="/insert" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="807e9d53-d26b-427a-966c-29e30623c266" message="#[payload]"/>
		<db:insert doc:name="Insert" doc:id="d4d48497-4917-460d-965e-8f5a17e9ecad" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO HR.EMPLOYEES (EMPLOYEE_ID,LAST_NAME,EMAIL,HIRE_DATE,JOB_ID) 
VALUES (:base_experience,:name,:ability,SYSDATE,'AD_PRES')
]]></db:sql>
			<db:input-parameters ><![CDATA[#[output aplication/json
---

{
	base_experience: payload.base_experience,
	name: payload.name,
	ability: payload.ability
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
