experience-api/src/main/mule/Consulta API.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="cfg_http_postman"
                          doc:name="HTTP Listener config"
                          doc:id="783ede8e-6b3b-407c-8dd2-57096179a177"
                          basePath="/">
        <http:listener-connection host="0.0.0.0" port="8080" />
    </http:listener-config>

    <http:request-config name="HTTP_Request_configuration"
                         doc:name="HTTP Request configuration"
                         doc:id="df7d7db5-f783-41cb-97b2-7ed2722c0047"
                         basePath="/proceso">
        <http:request-connection host="localhost" port="8098" />
    </http:request-config>

    <flow name="Consulta_APIFlow" doc:id="bb3affcf-0bb2-4cdc-839f-95ba53fcb54d">
        <http:listener doc:name="Listener"
                       doc:id="4040fc6b-53e7-4a39-a1cc-675833113508"
                       config-ref="cfg_http_postman"
                       path="obtenerPoke/{id}"
                       allowedMethods="GET"/>
        
        <set-variable value="#[attributes.uriParams.id]"
                      doc:name="Set Variable"
                      doc:id="524c0ef6-08e2-480e-8119-c924de441e63"
                      variableName="idPokemon"/>

        <http:request method="GET"
                      doc:name="Request"
                      doc:id="737f91ce-49a7-464e-b769-f598d823720d"
                      path="/exp/{id}"
                      config-ref="HTTP_Request_configuration">
            <http:uri-params><![CDATA[#[output application/java
---
{
    id : vars.idPokemon
}]]]></http:uri-params>
        </http:request>
    </flow>
</mule>
