experience-api/src/main/mule/Consulta API.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37dcb427-765a-4e61-8dfb-4332e55c836a" basePath="/">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1df14d20-2b67-4696-9142-7dd35bc25eef" basePath="/process" >
		<http:request-connection host="0.0.0.0" port="8081" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="9dee568a-27a4-45a5-b475-407710c7e1d8" />
	<flow name="Consulta_APIFlow" doc:id="fae23b23-896c-42a6-bcfa-4172fb312c00" >
		<http:listener doc:name="Listener" doc:id="0c6abc1d-d81d-4482-98b6-6a7c22fd727a" config-ref="HTTP_Listener_config" path="obtenerPoke/[id]"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="16d1d2a9-7218-4405-b733-ba79362eb77a" variableName="idPokemon"/>
		<http:request method="DELETE" doc:name="Request" doc:id="ce213ed5-539f-4431-b55c-6e055e26b54e" config-ref="HTTP_Request_configuration1" path="/process">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.idPokemon
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
