process-api/src/main/mule/process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9eecce1a-29f6-4915-806d-766fbee47d0a" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
		<http:listener-interceptors corsInterceptor="" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5585ec53-ee43-45ef-b587-ec4006f2c9cb" />
	<flow name="process-apiFlow" doc:id="8d2fb659-ad4d-409e-8e2b-c8a3fb9aef4e" >
		<http:listener doc:name="Listener" doc:id="72a6ccf5-3e2d-4483-a7bb-91498f2fe648" config-ref="HTTP_Listener_config" path="process/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="ddc11072-cb55-4fa3-91fd-32c7cc0d9f70" variableName="idPokemon"/>
		<http:request method="GET" doc:name="Request" doc:id="61e5a7af-27e3-4164-a67b-aebd9e595854" config-ref="HTTP_Request_configuration" path="system">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.idPokemon
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="bcc50f33-61ad-4a00-ba91-c1c2f4af13f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
